/*
 * Nextflow configuration file for GEM index building pipeline
 */

// Global default params
params {
    // Input/Output options
    genome = null
    outdir = "./results"
    
    // Resource options
    max_cpus = 8
    max_memory = '16.GB'
    max_time = '24.h'
}

// Process configuration
process {
    // Default resources
    cpus = 4
    memory = '8.GB'
    time = '4.h'
    
    // Error strategy
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 2
}

// Execution profiles
profiles {
    standard {
        process.executor = 'local'
    }
    
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process.container = 'quay.io/biocontainers/gapseq:1.2--hdfd78af_0'
    }
    
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.pullTimeout = '5h'
    }
}

// Reporting
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/dag.svg"
}

// Manifest
manifest {
    name = 'nf_gems'
    author = 'Your Name'
    description = 'Nextflow pipeline to build GEMs from genomes using gapseq and CarveMe'
    mainScript = 'main.nf'
    nextflowVersion = '>=22.10.0'
    version = '1.0.0'
}
